@page
@model LMSV1.Pages.CalendarModel

@using Microsoft.AspNetCore.Identity
@using LMSV1.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Calendar";
}

@if (SignInManager.IsSignedIn(User))
{
    <div id='calendar'></div>
}
