@page
@using LMSV1.Pages;
<!--This tag helper will assist our C# code in communicating in html-->
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model FilePageModel
 
<!--This will make it to where only this page is displayed without any top menu-->
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
    <!--The header for meta tags-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Page</title>
</head>

    <!--The body of our html code will show the choose file button and the Upload button as well as the file uploaded afterwards.-->
<body>
    <form method="post" enctype="multipart/form-data">
        <span>Select File:</span>
        <br />
        <input type="file" name="postedFiles" single />
        <br />
        <input type="submit" value="Upload" asp-page-handler="Upload" />
        <br/>
        <!--This line will display the uploaded file in the form of a link that allows us to download the file to confirm it is the correct file-->
        <a href="/Uploads/@Html.Raw(Model.Message)"<span style="color:teal">@Html.Raw(Model.Message)</span>

    </form>
</body>
</html>