@page
@model LMSV1.Pages.Courses.Assignments.SubmissionSuccessModel
@{
}

<h1>Submission Successful!</h1>

<form method="post">
    <input type="submit" value="Return to Dashboard" class="btn btn-primary" />
</form>