@page
@model LMSV1.Pages.Courses.Assignments.SuccessPageModel
@{
}

<h1>Action Successful!</h1>

<form method="post">
    <input type="submit" value="Return to Course Manager" class="btn btn-primary" />
</form>