@page
@model LMSV1.Pages.Authentication.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Birthdate" class="control-label"></label>
                <input asp-for="User.Birthdate" class="form-control" />
                <span asp-validation-for="User.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.Instructor" /> @Html.DisplayNameFor(model => model.User.Instructor)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="User.Address1" class="control-label"></label>
                <input asp-for="User.Address1" class="form-control" />
                <span asp-validation-for="User.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Address2" class="control-label"></label>
                <input asp-for="User.Address2" class="form-control" />
                <span asp-validation-for="User.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.State" class="control-label"></label>
                <input asp-for="User.State" class="form-control" />
                <span asp-validation-for="User.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Zip" class="control-label"></label>
                <input asp-for="User.Zip" class="form-control" />
                <span asp-validation-for="User.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Login">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
