@page
@model LMSV1.Pages.Student.AccountModel
@{
    ViewData["Title"] = "Account";
}
<script src="https://js.stripe.com/v3/"></script>
<section>
    <div class="product">
        <div class="description">
            <h3>Tuition Payment</h3>
            <h5>@Model.TuitionAmount.ToString("C")</h5>
        </div>
    </div>
    <form method="POST">
        <input type="text" name="amount" /> 
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
</section>